# =========================
# Operating System Files
# =========================

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

__pycache__
.mypy_cache
*.egg-info


# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
Desktop.ini

# =========================
# IDEs and Editors
# =========================

# VS Code
.vscode/
*.code-workspace

# IntelliJ / JetBrains
.idea/
*.iml

# Mac OS X Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# =========================
# Logs and Temporary Files
# =========================
*.log
tmp/
temp/